<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5" style="width: 100%;padding-top: 100px;">
        <h1>Machine Leaning</h1>
        <button type="button" class="btn btn-outline-primary btn-lg"><a class="nav-link text-dark" asp-area="" asp-controller="LogisticsRegression" asp-action="Index" style="text-decoration: none;">Logistics Regression</a></button>
        </br>
        </br>
        <button type="button" class="btn btn-outline-primary btn-lg"><a class="nav-link text-dark" asp-area="" asp-controller="TimeSeries" asp-action="Index" style="text-decoration: none;">Time Series</a></button>
    </div>

</div>
